@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #101823;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

tr:nth-child(even) {
  background-color: #464646;
}

tr:nth-child(odd) {
  background-color: #1f1f1f;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #172055;
}

::-webkit-scrollbar-thumb {
  background: #687388;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1b2546 gray;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 60s linear infinite;
  width: 100vw;
}

.scrolling-text:hover {
  animation-play-state: paused;
}

@media (max-width: 425px) {
  .scrolling-text {
    animation-duration: 15s;
  }
}

@media (max-width: 768px) {
  .scrolling-text {
    animation-duration: 30s;
  }
}